/* --------------------Глобально скидываю стили------------------------------------------ */
main {
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}

/* ----------------------Центровщик---------------------------- */


.containers {
    width: 1200px;
    margin: 0 auto;
}


/*---------------------------breadcrumbs*----------------------------------*/
.breadcrumbs-list {
    display: flex;
}

.breadcrumbs-list__item {
    position: relative;
}

.breadcrumbs-list__item:first-child,
.breadcrumbs-list__item:nth-child(2) {
    margin-right: 25px;
}

.breadcrumbs-list__item:first-child::after,
.breadcrumbs-list__item:nth-child(2)::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../img/icon__breadcrumbs.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: -18px;
}

/*---------------------------catalog----------------------------------*/

.catalog__wrapper {
    display: flex;
}

/*---------------------------left-bar----------------------------------*/

.catalog-main {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.catalog__main-search-result {
    display: flex;
    margin-top: -47px;
}

.catalog__main-search-result p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.catalog-left-block {
    width: 280px;
}

.left-bar__list {
    width: 260px;
    min-height: 620px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-evenly;
    background-color: #FBFBFB;
}

.left-bar__item p,
.left-bar__item h4 {
    margin: 0;
}

.left-bar__item a {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.left-bat__item--active a {
    color: #7A631F;
}

/*---------------------------catalog-right-block----------------------------------*/

/*---------------------------catalog-sorting-block----------------------------------*/

.catalog-right-block {
    width: 920px;
}

.sorting-main__item {
    position: relative;
}

.sorting-main__list {
    width: 880px;
    display: flex;
}


.sorting-main__button {
    display: block;
    height: 35px;
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    position: relative;
}

.sorting-main__button::after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    background-image: url("../img/icon__catalog-down-menu.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 7px;
    top: 15px;
}

.sorting-main__button--price {
    display: block;
    width: 84px;
    margin-right: 10px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
}
.sorting-main__button--price:focus,
.sorting-main__button--price:hover{
    border: 1px solid #BB9930;
}
.sorting-main__price {
    width: 230px;
    height: 162px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.price-range {
    margin-top: -15px;
}

#price-for,
#price-to {
    width: 77px;
    height: 17px;
}

.price-to__wrapper label,
.price-for__wrapper label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.price-to__wrapper input,
.price-for__wrapper input {
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.price-to__wrapper input:hover,
.price-for__wrapper input:hover{
border: 1px solid #BB9930;
}


.price-for__wrapper,
.price-to__wrapper {
    height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.price-for__wrapper {
    margin-right: 20px;
}

.price-range {
    display: block;
    width: 220px;
    position: relative;
}

.price-slider__range-scale {
    display: block;
    width: 222px;
    border: 1px solid #BB9930;
}

.price-slider__range-control--of,
.price-slider__range-control--to {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #BB9930;
    position: absolute;
}

.price-slider__range-control--of {
    top: -6px;
    left: 0;
}

.price-slider__range-control--to {
    top: -6px;
    right: -4px;
}

.sorting-main__price-submit {
    display: block;
    width: 250px;
    height: 36px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.sorting-main__price-submit:focus,
.sorting-main__price-submit:hover {
    background: #BB9930;
    color: #FFFFFF;
}

.sorting-main__price-submit:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background-color: #FFFFFF;
}


.sorting-main__button--brand {
    width: 93px;
    margin-right: 10px;
}
.sorting-main__button--brand:focus,
.sorting-main__button--brand:hover{
    border: 1px solid #BB9930;
    border-radius: 4px;
}
.sorting-main__brand{
    width: 230px;
    height: 343px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    top: 70px;
    left:  0 ;
    z-index: 1;
}
.check__wrapper{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.sorting-main__brand label{
    margin-bottom: 17px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.check__input{
    -webkit-appearance: none;
    appearance: none;
    margin-left: 10px;
}
.check{
    padding-left: 20px;
}
.checkbox-custom{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -30px;
    background-image: url("../img/icon__checkbox--off.png");
}
.check__input:checked + .checkbox-custom{
    background-image: url("../img/icon__checkbox.png");
}
.sorting-main__brand--submit{
    width: 250px;
    height: 36px;
    margin-left: -10px;
    background: #4D4B4A;
    border-radius: 5px;
    border: none;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.sorting-main__brand--submit:focus,
.sorting-main__brand--submit:hover{
    background: #BB9930;
    border: 1px solid #BB9930;
    border-radius: 5px;
    color: #FFFFFF;
}
.sorting-main__brand--submit:active{
    border: 1px solid #BB9930;
    color: #BB9930;
    background: #FFFFFF;
}
.sorting-main__button--steel {
    width: 139px;
}

.sorting-main__button--expensive {
    width: 173px;
    margin-left: auto;
}

.sorting-main__item:last-child {
    margin-left: auto;
}

/*---------------------------catalog-gallery----------------------------------*/

.catalog-gallery__list {
    display: flex;
    flex-wrap: wrap;
}

.catalog-gallery__item {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #EFEFEF;
    background: #FFFFFF;
    width: 248px;
    height: 475px;
    position: relative;
}

.catalog__special-offer {
    display: block;
    width: 60px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
}

.catalog-gallery__item::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__compare.png");
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    right: 5px;
    top: 5px;
}

.catalog-gallery__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Montserra", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;
}

.catalog-gallery__description {
    width: 265px;
    height: 71px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.catalog-gallery__price {
    margin: 0;
    padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.catalog-gallery__btn {
    margin-left: -8px;
    display: block;
    width: 268px;
    height: 36px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.catalog-gallery__btn:focus,
.catalog-gallery__btn:hover {
    background: #BB9930;
}

.catalog-gallery__btn:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background-color: transparent;
}

.catalog-gallery__paginator {
    display: flex;
}

.catalog-gallery__paginator-list {
    display: flex;
}

.catalog-gallery__paginator-link {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #181717;
}

.catalog-gallery__paginator-link:hover {
    background: #E3E3E3;
    border-radius: 2px
}

.catalog-gallery__paginator-link--active {
    color: #FFFFFF;
    background: #BB9930;
    border-radius: 2px;
}


.catalog-gallery__next-page-btn {
    display: block;
    align-self: center;
    width: 50px;
    height: 17px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
    border: none;
    background-color: transparent;
    position: relative;
}

.catalog-gallery__next-page-btn::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__catalog-gallery--next-page.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: -2px;
}

.display-none {
    display: none;
}
