/*------------------------------------скидываю стили глобально--------------------*/
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 0;
    margin: 0;
}

------------------------------------хедер навигация--------------------
header {
    display: flex;
    position: relative;
    padding-left: 131px;
    align-items: center;
}

.header-navigation {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.social-nav {
    height: 66px;
    align-items: center;
    display: flex;
    position: relative;
}

.social-nav::after {
    content: "";
    display: block;
    height: 1px;
    width: 1080px;
    background: #EFEFEF;
    position: absolute;
    bottom: -1px;
}

.social-nav__item:first-child {
    position: relative;
}

.social-nav__item:first-child::after {
    content: "";
    width: 1px;
    height: 40px;
    background: #EFEFEF;
    position: absolute;
    right: 5px;
    top: 0;
}

.social-nav__link-address {
    display: block;
    width: 207px;
    height: 34px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #181717;
    position: relative;
} 

 .social-nav__link-address::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__map-pin.png");
    background-repeat: no-repeat;
    background-position: center;
    left: -28px;
    top: 5px;
    position: absolute;
}

.social-nav__link-phone {
    width: 157px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #181717;
}

.social-nav__link-vk {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background-image: url("../img/icon__social-vk.png");
    background-position: center;
    background-repeat: no-repeat;
}

.social-nav__link-vk:focus,
.social-nav__link-vk:hover,
.social-nav__link-vk:active {
    background-image: url("../img/icon__social-vk--hover.png");
}

.social-nav__link-youtube {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../img/icon__social-youtube.png");
    background-position: center;
    background-repeat: no-repeat;
}

.social-nav__link-youtube:focus,
.social-nav__link-youtube:hover,
.social-nav__link-youtube:active {
    background-image: url("../img/icon__social-youtube--hover.png");
}

.website-nav {
    height: 89px;
    align-items: center;
    display: flex;
}

.website-nav__link-catalog {
    display: block;
    width: 130px;
    height: 50px;
    padding-right: 30px;
    margin-right: 40px;
    text-align: right;
    background: #4D4B4A;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    position: relative;
}

.website-nav__link-catalog::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__nav-btn-catalog.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 29px;
    top: 13px;
}

.website-nav__link-knife-order,
.website-nav__link-pay,
.website-nav__link-about,
.website-nav__link-delivery,
.website-nav__link-contacts {
    display: block;
    margin-right: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    color: #181717;
    position: relative;
}

.website-nav__link-knife-order::after,
.website-nav__link-pay::after,
.website-nav__link-about::after,
.website-nav__link-delivery::after,
.website-nav__link-contacts::after {
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background: #4D4B4A;
    position: absolute;
    bottom: 0;
}

.website-nav__link-knife-order,
.website-nav__link-knife-order::after {
    width: 124px;
}

.website-nav__link-pay::after,
.website-nav__link-pay {
    width: 60px;
}

.website-nav__link-about,
.website-nav__link-about::after {
    width: 110px;
}

.website-nav__link-delivery,
.website-nav__link-delivery::after {
    width: 75px;
}

.website-nav__link-contacts,
.website-nav__link-contacts::after {
    width: 76px;
}

.website-nav__link-contacts,
.website-nav__link-contacts {
    margin-right: 125px;
} 









.compare-cart__wrapper {
    display: flex;
}

.website-nav__btn {
    border: none;
    background-color: transparent;
    position: relative;
}

.website-nav__compare {
    margin-bottom: -15px;
    margin-right: 20px;
    cursor: pointer;
}

.website-nav__compare::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    /* background-image: url("../img/icon__compare.png"); */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -22px;
    left: 25px;
}

.website-nav__cart {
    margin-bottom: -15px;
    cursor: pointer;
}

.website-nav__cart::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    /* background-image: url("../img/icon__cart.png"); */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: 20px;
}

.count-number {
    position: relative;
}

.count-number::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    /* background-image: url("../img/icon__count.png"); */
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    left: 30px;
}


.display-none {
    display: none;
}