@charset "UTF-8";
@font-face {
  font-family: 'MonR';
  src: url(../fonts/Montserrat-Regular.ttf); }
@font-face {
  font-family: 'MonSB';
  src: url(../fonts/Montserrat-SemiBold.ttf); }
body {
  font-family: 'MonR'; }

h1 {
  margin: 0; }

.containers {
  width: 1179px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .containers {
      width: 91%; } }

/* HEADER 1 */
.title {
  font-family: 'MonSB';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #181717; }

.title4 {
  font-family: 'MonSB';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #181717; }

.title5 {
  font-family: 'MonSB';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #181717; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* width(или height) + border + padding = 100% */ }

.cart_icon {
  padding: 5px;
  margin-bottom: 3px; }

.wrapper-novinki {
  background: #FBFBFB;
  padding: 20px; }

.span-card-new {
  width: 57px;
  height: 28px;
  background: linear-gradient(-55deg, transparent 15px, #BB9930 0);
  color: #ffffff; }

.wrapper-hits {
  background: #ffffff;
  padding: 20px; }

.span-card-hits {
  width: 57px;
  height: 28px;
  background: linear-gradient(-55deg, transparent 15px, #0077FE 0);
  color: white; }

.wrapper-action {
  background: #FBFBFB;
  padding: 20px; }

.span-card-action {
  width: 57px;
  height: 28px;
  background: linear-gradient(-55deg, transparent 15px, red 0);
  color: white; }

button.brand {
  border: 1px solid #BB9930;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background: #ffffff;
  color: #BB9930; }
  button.brand:hover {
    background: #BB9930;
    color: #ffffff; }

.breadcrumbs {
  margin: 30px 0 30px 0; }
  @media (max-width: 770px) {
    .breadcrumbs span {
      font-size: 12px; } }

.title-product .title {
  margin: 15px 0 15px 0; }
  @media (max-width: 1024px) {
    .title-product .title {
      font-size: 30px; } }
  @media (max-width: 768px) {
    .title-product .title {
      font-size: 25px; } }
  @media (min-width: 320px) and (max-width: 768px) {
    .title-product .title {
      font-size: 20px; } }

.single-product {
/*      display: flex;
    flex-wrap: nowrap;  */
  margin-bottom: 30px; 
}

  @media (max-width: 770px) {
    .single-product {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 auto; }
      .single-product .product_foto {
        -webkit-box-pack: ce;
            -ms-flex-pack: ce;
                justify-content: ce; }
    }
  .single-product .single_product_gallery {
    margin-right: 5%; 
      
  }
    @media (max-width: 770px) {
      .single-product .single_product_gallery {
        margin-right: 0px; } }
  .single-product .product_foto_block {
    margin: 0 auto; }
    .single-product .product_foto_block .product_foto {
      width: 580px; }
      @media (max-width: 1024px) {
        .single-product .product_foto_block .product_foto {
          width: 440px; } }
      @media (max-width: 850px) {
        .single-product .product_foto_block .product_foto {
          width: 340px; } }
      @media (max-width: 770px) {
        .single-product .product_foto_block .product_foto {
          width: 320px; } }
  .single-product .single-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .single-product .single-gallery img {
      margin-right: 10px; }
      @media (max-width: 820px) {
        .single-product .single-gallery img {
          width: 120px;
          height: 120px; } }
      @media (max-width: 687px) {
        .single-product .single-gallery img {
          width: 90px;
          height: 90px; } }
  .single-product .short_description {
    padding-top: 5%; }
    .single-product .short_description .single-properties {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 20px; }
      .single-product .short_description .single-properties span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
      .single-product .short_description .single-properties div {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        height: 1px;
        border-bottom: 1px dashed #E3E3E3;
        position: relative;
        top: 15px;
        padding: 0 10px 0 10px;
        margin: 0 10px 0 10px; }
    .single-product .short_description .single-info {
      margin-top: 50px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 15px;
      color: #8F8B8A; }
    .single-product .short_description .single-price {
      margin-top: 50px;
      font-family: 'MonSB';
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px; }
    .single-product .short_description .block-single-cart {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 20px; }
      .single-product .short_description .block-single-cart .add-card {
        margin-right: 20px;
        width: 180px;
        height: 50px;
        font-family: 'MonSB';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        background: #4D4B4A;
        border-radius: 5px;
        color: #ffffff; }
      .single-product .short_description .block-single-cart .single-calc {
        padding: 5px; }
    .single-product .short_description .single-text {
      margin-top: 20px;
      color: #8F8B8A; }
    @media (max-width: 1024px) {
      .single-product .short_description {
        font-size: 14px; } }
    @media (max-width: 820px) {
      .single-product .short_description {
        font-size: 12px;
        width: 100%; } }
    @media (max-width: 770px) {
      .single-product .short_description {
        width: 100%; } }

.desctiption {
  margin-top: 80px;
  margin-bottom: 20px; }
  .desctiption .single-description-title {
    font-family: 'MonSB';
    font-size: 20px; }

/*# sourceMappingURL=style.css.map */