/*
Theme Name: kazbek
*/
@charset "UTF-8";
@font-face {
    font-family: 'MonR';
    src: url(../fonts/Montserrat-Regular.ttf); }
@font-face {
    font-family: 'MonSB';
    src: url(../fonts/Montserrat-SemiBold.ttf); }
@font-face {
    font-family: 'MonB';
    src: url(../fonts/Montserrat-Bold.ttf); }

body {
    font-family: 'MonR';
}
.ring{
  display:none;
}
/* Мобильное меню */
.mobile_nav {
    height: 100%;
}

.btn_catalog_mobile {
    /* margin-bottom: 25px; */
}

#menu-mega-menu-col1-1 {
    display: none;
}

#menu-mega-menu-col1-1 a {
    font-family: 'MonR';
    display: block;
    color: #000000;
    padding: 15px;
    font-size: 16px;
}

#menu-mega-menu-col2-1 a, #menu-mega-menu-col3-1 a {
    font-family: 'MonR';
    display: block;
    color: #000000;
    padding: 15px;
    font-size: 16px;
}

#menu-mega-menu-col1-1 {
    background-color: #E3E3E3;
}

#menu-mega-menu-col2-1{
    display: none;
    background-color: #E3E3E3;
}

#menu-mega-menu-col3-1 {
    display: none;
    background-color: #E3E3E3;

}

.catalog_block_name {
    display: block!important;
    margin: 0;
    padding: 15px;
    background-color: #E3E3E3;
}
.catalog_block_name_first{
    margin: 0;
    padding: 15px;
    background-color: #E3E3E3;
}

@media (max-width: 830px) {
  .catalog_block_name {
    display: none;
  }
}


.display_block_none{
    display: none !important;
}

.drop_menu_marka_stali span {
    padding-right: 14px;
}

.drop_menu_brands span {
    padding-right: 14px;

}

/* --------------------Глобально скидываю стили------------------------------------------ */
ul, li {
    list-style: none;
    padding: 0;
    margin: 0; }

a:hover {
    text-decoration: none; }

button:focus {
    outline: none; }

.main {
    max-width: 1950px;
    margin: 0 auto; }

.containers {
    width: 1200px;
    margin: 0 auto; }

.header {
    background-color: #fff;
    padding: 20px 0; }

.header > .containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }

.header_btn_menu {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'MonSB';
    font-size: 16px;
    line-height: 20px; }

.header_btn_menu img, .header_btn_menu span {
    display: block; }

.header_btn_menu span {
    margin-left: 10px; }

.header__logo_block {
    margin-right: 34px; }

.header__right_block {
    width: 100%; }

.top_header_contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px; }

.top_header_contacts_location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 18px;
    border-right: 1px solid #EFEFEF; }

.top_header_contacts_location img {
    display: block;
    margin-right: 13px; }

.top_header_contacts_location div {
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px; }

.top_header_contacts_phone {
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.top_header_contacts_phone a {
    display: block; }

.top_header_contacts_phone .phone {
    font-family: 'MonSB';
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-right: 20px; }

.top_header_contacts_phone .icons {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #8F8B8A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 10px; }

.bottom_header {
    width: 100%;
    border-top: 1px solid #EFEFEF;
    padding: 20px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.header_menu li {
    margin-left: 40px; }

.header_menu li:first-child {
    margin-left: 0; }

.header_btn_catalog {
    padding: 12px 25px;
    background-color: #4D4B4A;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: 'MonSB';
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.header_btn_catalog span {
    margin-left: 12px; }

@media (max-width: 600px) {
    .header_menu_links{
        display: none;
        padding-left:17px;
    }
    .active{
        display:block!important;
    }
}
@media (min-width: 800px)  {

    .container_catalog{
        background-color: #e3e3e3!important;
    }
}

.header_menu_links a {

    font-family: 'MonR';
    font-size: 14px;
    padding-bottom: 4px;
    color: #000000; }

/* Корзина позиционировать кол-во */
.cart {
    position: relative;
}

.basket-btn__counter {
    position: absolute;
    top: -10px;
    left: 50%;
}

span.basket-btn__counter {
    /*     display: none;   */
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    font-size: 13px;
}

/* COMPARE span позиционирвоать red */
.comparison {
    position: relative;
}

.compare-btn__counter {
    position: absolute;
    top: -10px;
    left: 50%;
}

span.compare-btn__counter {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    font-size: 13px;
}

span.website-nav__compare {
    color: #000000;
}

span.website-nav__cart {
    color: #000000;
}

.header_cart_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.header_cart_block .comparison {
    margin-right: 20px; }

.header_cart_block img, .header_cart_block span {
    display: block;
    margin: 0 auto; }

.container_catalog {
    position: absolute;
    left: 0;
    top: 100%;
    padding: 30px;
    background-color: #FBFBFB;
    width: 100%;
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 9; }

  @media (min-width: 830px) {
    .container_catalog{
      background-color: #E3E3E3;
    }


  }

.container_catalog_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.catalog_block_name {
    font-family: 'MonSB';
    font-size: 14px;
    line-height: 17px;
    /* margin-bottom: 25px;  */
}

.catalog_blocks a {
    display: block;
    padding: 12px 0;
    font-family: 'MonR';
    font-size: 14px;
    color: #000000; }

  #menu-mega-menu-col2-1 a, #menu-mega-menu-col3-1 a  {
    font-family: 'MonR';
    display: block;
    color: #000000;
    padding: 15px;
    font-size: 16px;
  }



.header_mobile_menu_container {
    display: none; }


  .drop_menu_marka_stali span {
    padding-right: 14px;
  }

  .drop_menu_brands span {
    padding-right: 14px;
  }


.desctop .header_btn_catalog:hover {
    background-color: #343332; }

.desctop .catalog_blocks a:hover {
    color: #7A631F; }

.desctop .header_menu_links a:hover {
    border-bottom: 1px solid #000000; }

.top_header_contacts_phone .vk:hover {
    background-color: #0077FE; }

.top_header_contacts_phone .youtube:hover {
    background-color: red; }

.slider_wrapper_main {
    width: 100%;
    position: relative; }

.slider_wrapper_main .slide {
    height: 500px;
    width: 100%;
    background-image: url(../img/bg_slide1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.slider_wrapper_main .slide1 {
    background-image: url(../img/bg_slide1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

.slider_main_btn {
    border: none;
    background-color: #ffffff00;
    position: absolute;
    bottom: 60px;
    left: 355px;
    z-index: 9;
    cursor: pointer; }

.slider_main_btn_next {
    left: 430px;
    z-index: 9; }

.slick-dots {
    bottom: 20px; }

.slick-dots li button:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #EFEFEF;
    border-radius: 50%; }

.slick-dots li.slick-active button:before {
    background-color: #ffffff; }

.slider_wrapper_main .slide_title {
    color: #fff;
    font-family: 'MonB';
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 20px; }

.slider_wrapper_main .slide_subtitle {
    font-family: 'MonSB';
    color: #ffffff;
    font-size: 28px;
    line-height: 34px; }

.slider_wrapper_main .slide_subtitle span {
    font-size: 35px; }

.slider_wrapper_main .slide_btn_link {
    border: 1px solid #BB9930;
    border-radius: 5px;
    background-color: #ffffff00;
    width: 191px;
    height: 50px;
    display: block;
    margin-top: 30px; }

.slider_wrapper_main .slide_btn_link a {
    color: #BB9930; }

.desctop .slider_wrapper_main .slide_btn_link:hover {
    background-color: #BB9930; }

.desctop .slider_wrapper_main .slide_btn_link:hover a {
    color: #fff; }

.about_main {
    padding: 60px 0;
    background-image: url(../img/ножики_фон.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    height: 923px;
    position: relative; }

.title {
    font-family: 'MonB';
    font-size: 40px;
    line-height: 49px;
    width: 738px;
    text-transform: uppercase; }

/* .block_img_and_mobile_content {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); } */

#about_main_img1 {
    width: 500px; }

#about_main_img11 {
    display: none; }

.about_main_list li {
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }

.about_main_list li:last-child {
    margin-bottom: 0; }

.about_main_list li::before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #BB9930;
    border-radius: 50%;
    margin-right: 10px; }

.block_img_and_mobile_content {
    position: absolute;
    left: 45%;
    top: 26%;
}

.about_main_content_block {
    position: relative;
}

.block_img_and_mobile_content .about_main_list {
    margin: 80px 0 0 30px;
    display: none; }

.about_main_img2 {
    width: 358px;
    /*   position: absolute; */
    top: 24%;
    right: 23%; }

.about_main_content_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

.about_main_content_block img {
    width: 344px;
    display: block;
    margin-top: 50px; }

.about_main_content_block .about_main_list {
    margin: 0 0 80px 55px; }

.about_main_tablet_container {
    display: none; }

.about_main_mobile_container {
    display: none; }

.about1_main {
    padding: 120px 0;
    background-image: url(../img/about1bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }

.about1_main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.about1_main_container .block:first-child {
    position: relative;
    width: 642px; }

.about1_main_container .block:first-child img:first-child {
    width: 500px; }

.about1_main_container .block:first-child img:last-child {
    position: absolute;
    bottom: -78px;
    right: 0;
    width: 280px; }

.about1_main_container .text_block {
    width: 374px;
    margin-left: 80px;
}

@media (max-width: 600px) {
    .about1_main_container .text_block {
        margin-left: 0px;

    }
}


.about1_main_container .about_title {
    font-family: 'MonSB';
    font-size: 28px;
    line-height: 34px; }

.about1_main_container p {
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px; }

.about1_main_container .block:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.about1_main_container .about1_bg_block {
    width: 325px;
    height: 511px;
    background-image: url(../img/about1bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 80px;
}



.new_main {
    background-color: #FBFBFB;
    padding: 60px 0; }

.new_main .containers {
    overflow: hidden; }

.new_main_header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.new_main_slider_btn {
    display: flex;
    /*  margin-right: 20px; */
}


/* убрать отстууп от товара (каждый второй элемент), когда в мобиьной версии выводим по 2 товара*/
@media (max-width: 768px){
    .new_main_slider_btn {
        margin-right: 0;
    }
}

.new_main_slider_btn {
    border: none;
    background-color: #ffffff00;
    cursor: pointer; }


.promo_cart_title {
    font-family: 'MonSB';
    font-size: 28px;
    line-height: 34px; }

.promo_new_carts_slider_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.promo_new_carts_slider_container .block {
    width: 280px;
    border: 1px solid #EFEFEF;
    margin-right: 20px;
    background-color: #fff;
    padding-bottom: 6px; }

.promo_new_carts_slider_container .top_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.promo_new_carts_slider_container .top_section img:last-child {
    padding-right: 5px;
    cursor: pointer; }

.promo_new_cart_content_block {
    padding: 0 16px 16px 16px; }

.promo_new_cart_content_block .img_block {
    width: 100%; }

.promo_new_cart_content_block .img_block img {
    width: 100%; }

.promo_new_cart_content_block .cart_title {
    font-family: 'MonSB';
    font-size: 16px;
    line-height: 19px; }

.promo_new_cart_content_block .text_descr_block {
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px; }

.promo_new_cart_content_block .text_descr_block .descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px; }

.promo_new_cart_content_block .text_descr_block .descr:last-child {
    margin-bottom: 0; }

.promo_new_cart_content_block .text_price_block {
    font-family: 'MonSB';
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px; }

.promo_new_carts_slider_container .block .cart_btn {
    border: none;
    border-radius: 5px;
    background-color: #4D4B4A;
    width: 268px;
    height: 36px;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'MonSB';
    font-size: 14px;
    line-height: 17px;
    cursor: pointer; }

.desctop .promo_new_carts_slider_container .block .cart_btn:hover {
    background-color: #343332; }

.promo_main .containers {
    overflow: hidden; }

.promo_carts_slider_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.promo_carts_slider_container .block {
    width: 280px;
    border: 1px solid #EFEFEF;
    margin-right: 20px;
    background-color: #fff;
    padding-bottom: 6px; }

.promo_carts_slider_container .top_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.promo_carts_slider_container .top_section img:last-child {
    padding-right: 5px;
    cursor: pointer; }

.promo_carts_slider_container .promo_cart_content_block {
    padding: 0 16px 16px 16px; }

.promo_carts_slider_container .promo_cart_content_block .img_block {
    margin-bottom: 30px; }

.promo_carts_slider_container .promo_cart_content_block .cart_title {
    font-family: 'MonSB';
    font-size: 16px;
    line-height: 20px; }

.promo_cart_content_block .text_descr_block {
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px; }

.promo_cart_content_block .text_descr_block .descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px; }

.promo_cart_content_block .text_descr_block .descr:last-child {
    margin-bottom: 0; }

.promo_carts_slider_container .block .cart_btn {
    border: none;
    border-radius: 5px;
    background-color: #4d4d4d;
    width: 268px;
    height: 36px;
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'MonSB';
    font-size: 14px;
    line-height: 17px;
    cursor: pointer; }

.hits_main {
    padding: 60px 0;
    background-color: #fff; }

.hits_main .hits_main_header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.action_main {
    background-color: #FBFBFB; }

.action_main .containers {
    overflow: hidden;
    padding: 60px 0; }

.action_main .hits_main_header_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.brends_main {
    padding: 60px 0;
    background-color: #ffffff; }

.brends_main .title {
    font-size: 28px; }

.brends_main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px; }

.brends_main_container .brends_btn_lin {
    display: block;
    border: 1px solid #BB9930;
    border-radius: 5px;
    background-color: #ffffff00;
    margin-right: 10px;
    margin-bottom: 10px; }

.brends_main_container .brends_btn_lin a {
    display: block;
    color: #BB9930;
    font-family: 'MonSB';
    font-size: 16px;
    padding: 15px 40px; }

.desctop .brends_main_container .brends_btn_lin:hover {
    background-color: #BB9930; }

.desctop .brends_main_container .brends_btn_lin:hover a {
    color: #fff; }

.main-categories {
    background-color: #000;
    padding: 38px 0;
    color: #ffffff; }

.main-categories span {
    padding: 0px 25px;
    font-family: 'MonSB';
    font-size: 20px;
    line-height: 24px; }

.footer {
    padding: 60px 0;
    background-color: #252323;
    background-image: url(../img/топорик.png);
    background-repeat: no-repeat;
    background-size: 435px;
    background-position: 37% 50px; }

.footer .containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.footer a {
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px;
    color: #fff; }

.footer_logo_block {
    margin-bottom: 40px; }

.footer .containers .block:first-child a {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.copirate {
    color: #8F8B8A;
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px; }

.footer_block_title {
    font-family: 'MonSB';
    font-size: 20px;
    line-height: 24px;
    color: #fff; }

.footer .containers .block:nth-child(2) .footer_block_title {
    margin-bottom: 20px;
}

.footer .containers .block:nth-child(2) a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }

.footer .containers .block:nth-child(3) .footer_block_title {
    margin-bottom: 30px; }

.footer .containers .block:nth-child(3) .footer_phone {
    font-family: 'MonSB';
    font-size: 20px;
    line-height: 24px;
    color: #fff; }

.footer_social_block {
    width: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px; }

.footer_social_block .block a {
    width: 32px;
    height: 32px;
    background-color: #8F8B8A;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.desctop .footer_social_block .block:first-child a:hover {
    background-color: blue; }

.desctop .footer_social_block .block:last-child a:hover {
    background-color: red; }
.image_page img{
    max-height:350px;
    width:100%;
    margin-bottom: 50px;
}
.feedback-form button{
    background-color: #4D4B4A!important;
    width: 100%!important;
    color: white!important;
    font-weight: 600!important;
    font-size: 16px!important;
}
.footer .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px;}

.footer .location img {
    display: block;
    margin-right: 10px; }

.footer_mail_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'MonR';
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer_mail_block img {
    display: block;
    margin-right: 10px;

}
.site-main{
    min-height: 45vh;
}



/*--------------------- ABOUT SHOP ---------------------------------------------- */
@media (min-width: 1050px) {
    .about_main_desctop_container {
        display: flex;
    }
}
@media (max-width: 1050px) {
    .about_main_desctop_container {
        display: none;
    }
    .about_main_tablet_container {
        display: block;
    }
}

@media (max-width: 1460px) {
    .about1_main_container .about1_bg_block {
        margin-left: 20px; } }
@media (max-width: 1385px) {
    .about1_main_container .block:first-child {
        width: 600px; }

    .about1_main_container .block:first-child img:first-child {
        width: 450px; }

    .about1_main_container .block:first-child img:last-child {
        bottom: -60px;
        right: 60px;
        width: 250px; } }
@media (max-width: 1370px) {
    .block_img_and_mobile_content img {
        width: 400px; }

    .about_main_img2 {
        width: 270px;
        top: 29%;
        right: 25%; }

    .about_main_content_block img {
        width: 310px;
        margin-top: 95px; } }
@media (max-width: 1302px) {
    .about1_main_container .block:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }

    .about1_main_container .about1_bg_block {
        width: 419px;
        height: 272px;
        margin-left: 0; }

    .about1_main_container .text_block {
        margin-right: 30px; } }
@media (max-width: 1200px) {
    .containers {
        width: 91%; } }
@media (max-width: 1188px) {
    .block_img_and_mobile_content img {
        width: 330px; }

    .about_main_img2 {
        width: 250px;
        top: 32%;
        right: 22%; }

    .about_main_content_block img {
        width: 270px; }

    .about_main_content_block .about_main_list {
        margin: 0 0 45px 25px; } }
@media (max-width: 1130px) {
    .header_menu li {
        margin-left: 20px; } }

@media (max-width: 1050px) {
    .about_main_tablet_container {
        display: block;
        margin-top: 50px; }
}

.about_main_tablet_block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.about_main_tablet_container img:first-child {
    width: 344px;
    display: block; }

.about_main_tablet_container img:last-child {
    width: 537px;
    display: block; }

.about_main_tablet_block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 760px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 30px; }

.about_main_tablet_block2 .about_main_list {
    margin: 10px 0 0 50px; }

@media (max-width: 1024px) {
    .header {
        position: relative;
        padding: 20px 0 10px 0; }

    .header > .containers {
        position: static; }

    .top_header_contacts {
        display: none; }

    .bottom_header {
        border-top: none;
        padding: 0; }

    .header__logo_block img {
        width: 36px; }

    .about1_main_container .block:first-child {
        width: 550px; }

    .about1_main_container .block:first-child img:first-child {
        width: 400px; }

    .about1_main_container .block:first-child img:last-child {
        width: 200px; } }
@media (max-width: 1000px) {
    .slider_main_btn {
        left: 40px; }

    .slider_main_btn_next {
        left: 100px; }

    .slider_wrapper_main .slide1 {
        background-image: url(../img/bg_slide1_mobile.jpg) !important; } }

@media (max-width: 1050px) {
    .header_menu_links{
        font-size: 13px;
    }
}
@media (max-width: 990px) {
    .header_menu li {
        margin-left: 13px; }

    .header_btn_catalog span {
        font-size: 12px; }

    .header_menu_links a {
        font-size: 12px; }

    .header_cart_block span {
        font-size: 12px; } }
@media (max-width: 963px) {
    .about1_main_container .about1_bg_block {
        width: 370px; }

    .about1_main_container .text_block {
        width: 300px; } }
@media (max-width: 904px) {
    .about1_main_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }

    .about1_main_container .block:first-child {
        margin-bottom: 90px; } }
@media (max-width: 890px) {
    .about_main_tablet_container img:last-child {
        width: 450px; } }
@media (max-width: 830px) {
    .header > .containers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }

    .header__right_block {
        width: auto;
    }
    .catalog-gallery__item .img_block{
        text-align: center;
    }
    .header_btn_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }

    .header__logo_block {
        margin: 0; }

    .header_nav {
        display: none; }

    .header_cart_block .website-nav__span.website-nav__cart, .website-nav__span.website-nav__compare {
        display: none; }

    .header_mobile_menu_container {
        display: none;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        overflow-y: scroll; }

    .header_mobile_menu_container_active {
        display: block; }

    .mobile_menu_contacts_block {
        padding: 17px 17px 40px 17px;
        background-color: #ffffff; }

    .location_closed_btn_block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }

    .location_closed_btn_block .location {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }

    .location_closed_btn_block .location span {
        font-family: 'MonR';
        font-size: 12px;
        line-height: 17px;
        display: block;
        margin-left: 13px; }

    .location_closed_btn_block .close_btn {
        border: none;
        background-color: #ffffff00; }

    .mobile_menu_contacts_block .phone {
        font-family: 'MonSB';
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin: 12px 0 10px 0;
        display: block; }

    .mobile_menu_contacts_block .mobile_block_social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }

    .mobile_menu_contacts_block .mobile_block_social span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: #8F8B8A;
        border-radius: 50%; }

    .mobile_menu_contacts_block .mobile_block_social span:first-child {
        margin-right: 10px; }

    .mobile_nav {
        background-color: #ffffff; }

    .mobile_nav .btn_catalog_mobile {
        width: 100%;
        background-color: #343332;
        padding: 10px 16px 10px 16px; }

    .mobile_nav .btn_catalog_mobile span {
        color: #ffffff;
        font-family: 'MonR';
        font-size: 14px;
        line-height: 17px;
        padding-right: 14px; }

    .mobile_nav .mobile_link a {
        display: block;
        color: #000000;
        padding: 15px; }

    .sub_catalog {
        background-color: #E3E3E3;
        padding: 30px 16px 16px 16px; }

    .sub_catalog_title_link {
        font-family: 'MonSB';
        font-size: 14px;
        line-height: 17px;
        padding: 15px 0; }

    .sub_catalog .all_subcatalog a, .sub_catalog .marka_subcatalog a {
        font-family: 'MonR';
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 15px 0;
        display: block; }

    .marka_subcatalog_wrapper {
        display: none; }

    .marka_subcatalog_wrapper_active {
        display: block; } }
@media (max-width: 855px) {
    .footer {
        background-position: 100% 100%; }

    .footer .containers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }

    .footer .containers .block {
        /* margin-bottom: 60px;  */
    }



    .footer .containers .block:first-child {
        margin-bottom: 0px; } }
@media (max-width: 823px) {
    .about_main {
        height: 830px; }

    .about_main_tablet_container {
        display: none; }

    .about_main_mobile_container {
        display: block; }

    .about_main_mobile_container .about_main_list {
        margin-top: 20px; }

    .about_main_mobile_container .block_img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 40px; }

    .about_main_mobile_container .block_img img:first-child {
        width: 242px; }

    .about_main_mobile_container .block_img img:last-child {
        width: 330px; }

    #about_mobile_img {
        width: 300px;
        position: absolute;
        bottom: 30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }

}
@media (max-width: 780px) {
    .about_main {
        padding-top: 10px; }

    .title {
        width: 100%; } }
@media (max-width: 635px) {
    .title {
        font-size: 30px;
        line-height: 36px; } }
@media (max-width: 600px) {
    .about_main {
        height: 660px; }

    .about_main_mobile_container .block_img img:last-child {
        width: 280px; }

    .about_main_mobile_container .block_img img:first-child {
        width: 200px; }

    #about_mobile_img {
        width: 247px;
        bottom: 87px; } }
@media (max-width: 576px) {
    .about1_main_container .block:first-child img:last-child {
        right: 0; } }
@media (max-width: 550px) {
    .about1_main {
        padding-bottom: 0; }

    .about1_main_container .block:first-child {
        width: 100%; }

    .about1_main_container .text_block {
        margin-right: 0;
        width: 90%; }

    .about1_main_container .about1_bg_block {
        width: 100%; } }
@media (max-width: 500px) {
    .slider_wrapper_main .slide_title {
        font-size: 28px;
        line-height: 34px; }

    .slider_wrapper_main .slide_subtitle {
        font-size: 20px;
        line-height: 24px; }

    .slider_wrapper_main .slide_subtitle span {
        font-size: 30px; }

    .slider_wrapper_main .slide_btn_link {
        width: 171px;
        height: 36px; }

    .slider_wrapper_main .slide1 {
        background-image: url(../img/bg_slide1_mob.jpg); }

    .about_main_mobile_container .block_img img:last-child {
        width: 211px; }

    .about_main_mobile_container .block_img img:first-child {
        width: 142px; }

    #about_mobile_img {
        width: 164px; }

    .about1_main_container .block:first-child img:first-child {
        width: 350px; } }
@media (max-width: 400px) {
    .about1_main {
        background-size: 1000px; }

    .about1_main_container .block:first-child img:first-child {
        width: 280px; }

    .about1_main_container .block:first-child img:last-child {
        width: 165px; } }
@media (max-width: 370px) {
    .about_main {
        height: 630px; }

    .about_main_mobile_container .block_img img:last-child {
        width: 161px; } }

@media (max-width: 322px) {
    #about_mobile_img {
        bottom: 47px; } }

/*# sourceMappingURL=style.css.map */



/* -------------------------------------------------------------------------------------------- */

/* Верстка Кирилла КАРТОЧКА ТОВАРА */
/*.catalog-gallery__item {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 6px;
     margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #EFEFEF;
    background: #FFFFFF;
    width: 248px;
    height: 475px;
    position: relative;
}

.catalog__special-offer {
    display: block;
    width: 60px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
}

.catalog-gallery__item::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__compare.png");
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    right: 5px;
    top: 5px;
}*/

/* .catalog-gallery__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Montserra", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;
}

.catalog-gallery__description {
    width: 265px;
    height: 71px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.catalog-gallery__price {
    margin: 0;
    padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.catalog-gallery__btn {
    margin-left: -8px;
    display: block;
    width: 268px;
    height: 36px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.catalog-gallery__btn:focus,
.catalog-gallery__btn:hover {
    background: #BB9930;
}

.catalog-gallery__btn:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background-color: transparent;
} */








/* -------------------------------------------------------------------------------------------- */

/* КАТАЛОГ ТОВАРОВ */

.woocommerce-products-header__title {
    margin-bottom: 50px;
}

#woocommerce_product_categories-4 {
    background-color: #FBFBFB;
    margin-right: 10%;
    padding: 20px;
}

#woocommerce_product_categories-4 .widget-title {
    font-family: 'MonSB';
    font-style: normal;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.product-categories a {
    font-family: 'MonR';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: #181717;
}

.product-categories li {
    padding: 0 20px 20px 0;
}

/* --------------------Глобально скидываю стили------------------------------------------ */
main {
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
}









.catalog__wrapper {
    display: flex;
}

/*---------------------------left-bar----------------------------------*/

.catalog-main {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.catalog__main-search-result {
    display: flex;
    margin-top: -47px;
}

.catalog__main-search-result p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

/* .catalog-left-block {
    width: 280px;
} */

.catalog-left-block {
    width: 30%;
}

@media (max-width: 1024px) {
    .catalog-left-block {
        display: none;
    }
}

/* Left Sidebar СТИЛЬ ДЛЯ САЙДБАРА */
.product-categories {


}

@media (max-width: 910px ) {
    .product-categories {
        font-size: 13px;
    }
}

/*
.left-bar__list {
    width: 260px;
    min-height: 620px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-evenly;
    background-color: #FBFBFB;
}

.left-bar__item p,
.left-bar__item h4 {
    margin: 0;
}

.left-bar__item a {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.left-bat__item--active a {
    color: #7A631F;
}
*/

/*---------------------------catalog-right-block----------------------------------*/

/*---------------------------catalog-sorting-block----------------------------------*/

/* .catalog-right-block {
    width: 920px;
} */




.sorting-main__item {
    position: relative;
}

.sorting-main__list {
    /* width: 880px; */
    display: flex;
}



/* Для кнопок вверху каталого товаров */
.sorting-main__button, .orderby {
    display: block;
    /* padding-left: 15px; */
    height: 35px;
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    position: relative;
}

@media (max-width: 910px) {
    .sorting-main__button, .orderby {
        font-size: 12px;
    }
}

.sorting-main__button::after {
    content: "";
    display: block;
    width: 10px;
    height: 6px;
    background-image: url("http://graftid4.beget.tech/wp-content/uploads/2022/07/icon__catalog-down-menu.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 7px;
    top: 15px;
}

.sorting-main__button--price {
    display: block;
    text-align: left;
    width: 84px;
    margin-right: 10px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
}
.sorting-main__button--price:focus,
.sorting-main__button--price:hover{
    border: 1px solid #BB9930;
}
.sorting-main__price {
    width: 230px;
    height: 162px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.price-range {
    margin-top: -15px;
}

#price-for,
#price-to {
    width: 77px;
    height: 17px;
}

.price-to__wrapper label,
.price-for__wrapper label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.price-to__wrapper input,
.price-for__wrapper input {
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.price-to__wrapper input:hover,
.price-for__wrapper input:hover{
    border: 1px solid #BB9930;
}


.price-for__wrapper,
.price-to__wrapper {
    height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.price-for__wrapper {
    margin-right: 20px;
}

.price-range {
    display: block;
    width: 220px;
    position: relative;
}

.price-slider__range-scale {
    display: block;
    width: 222px;
    border: 1px solid #BB9930;
}

.price-slider__range-control--of,
.price-slider__range-control--to {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #BB9930;
    position: absolute;
}

.price-slider__range-control--of {
    top: -6px;
    left: 0;
}

.price-slider__range-control--to {
    top: -6px;
    right: -4px;
}

.sorting-main__price-submit {
    display: block;
    width: 250px;
    height: 36px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}

.sorting-main__price-submit:focus,
.sorting-main__price-submit:hover {
    background: #BB9930;
    color: #FFFFFF;
}

.sorting-main__price-submit:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background-color: #FFFFFF;
}


.sorting-main__button--brand {
    text-align: left;
    width: 93px;
    margin-right: 10px;
}

@media (max-width: 910px) {
    .sorting-main__button--brand {
        display: none;
    }
}

.sorting-main__button--brand:focus,
.sorting-main__button--brand:hover{
    border: 1px solid #BB9930;
    border-radius: 4px;
}
.sorting-main__brand{
    width: 230px;
    /* height: 343px; */
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    top: 70px;
    left:  0 ;
    z-index: 1;
}
.check__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.sorting-main__brand label{
    margin-bottom: 17px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

.check__input{
    -webkit-appearance: none;
    appearance: none;
    margin-left: 10px;
}
.check{
    padding-left: 20px;
}
.checkbox-custom{
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -30px;
    background-image: url("../img/icon__checkbox--off.png");
}
.check__input:checked + .checkbox-custom{
    background-image: url("../img/icon__checkbox.png");
}
.sorting-main__brand--submit{
    width: 250px;
    height: 36px;
    margin-left: -10px;
    background: #4D4B4A;
    border-radius: 5px;
    border: none;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.sorting-main__brand--submit:focus,
.sorting-main__brand--submit:hover{
    background: #BB9930;
    border: 1px solid #BB9930;
    border-radius: 5px;
    color: #FFFFFF;
}
.sorting-main__brand--submit:active{
    border: 1px solid #BB9930;
    color: #BB9930;
    background: #FFFFFF;
}
.sorting-main__button--steel {
    text-align: left;
    width: 139px;
}

@media(max-width: 375px) {
    .sorting-main__button--steel, .wpf_form_markastali_filter {
        display: none;
    }
}

/* Марка стали выподающее окно */
.sorting-main__steel {
    width: 250px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    border-radius: 4px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
}

/* .sorting-main__button--expensive {
    width: 173px;
    margin-left: auto;
} */

.orderby {
    width: 173px;
}

.sorting-main__item{
    font-size: 13px;
}

.sorting-main__item:last-child {
    margin-left: auto;
}



/*---------------------------catalog-gallery----------------------------------*/

.catalog-gallery__list {
/*     display: flex;
flex-wrap: wrap;
justify-content: space-between; */
}

/* каталог товаров отобразить товары в строку */
/*  .products.columns-3{
   display: flex;
   flex-wrap: wrap;
}

.columns-3>* {
         flex: 0 0 30.3333%;
     } */
/* каталог товаров grid по 3 эл-та */
.products.columns-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    /* grid-auto-rows: minmax(100px, auto); */
}

@media (max-width: 768px){
    .products.columns-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .catalog-gallery__item {
        width: 280px!important;
    }
}

.catalog-gallery__item {

    text-align: left;
    width: 280px!important;
    /*     padding-left: 16px;
    padding-right: 16px; */
    padding: 20px;
    padding-bottom: 6px;
    margin-right: 20px;  /* отступ от товара */
    /*     margin-left: 20px; */
    margin-bottom: 20px;
    border: 1px solid #EFEFEF;
    background: #FFFFFF;
    /* width: 248px; */
    /*     width: 220px;
    height: 425px; */
    position: relative;
    /* flex-grow: 1;  */
    /*flex-basis: 31%; */
}

.catalog-gallery__item_compare {
  text-align: left;
  width: 30% !important;
  padding: 20px;
  padding-bottom: 6px;
  margin-right: 20px; 
  margin-bottom: 20px;
  background: #FFFFFF;
  position: relative;
}

/* убрать отстууп от товара (каждый второй элемент), когда в мобиьной версии выводим по 2 товара*/
@media (max-width: 768px){
    .columns-3 .catalog-gallery__item:nth-child(even) {
        margin-right: 0;
    }
    /* товары каталог товаров убрать отступ у каждого второго товара когда выводим по 2 товара */
    div.wpf-search-container.woocommerce.columns-4 .catalog-gallery__item:nth-child(even) {
        margin-right: 0;
    }

}

@media (min-width: 768px){
    .columns-3 .catalog-gallery__item:nth-child(3) {
        margin-right: 0;
    }
    /*     товары на главной убрать отступ у каждого второго товара когда выводим по 2 товара
    .woocommerce.columns-4 .catalog-gallery__item:nth-child(4) {
        margin-right: 0;
    } */

}

/* .catalog-gallery__item:last-child {
    flex: 0;
} */


/* @media (max-width: 1200px) {
    .catalog-gallery__item:nth-child(2) {
        flex-basis: 1 41%
    }
} */

/*  @media (max-width: 1200px) {
   .catalog-gallery__item {
       flex-grow: 1;
       width: 30%;
   }
} */


/* @media (max-width: 600px) {
  .catalog-gallery__item {
    flex: 1 46%;
  }
} */


.catalog__special-offer {
    display: block;
    width: 60px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
}



 .catalog-gallery__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Montserra", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;
} 


/* .catalog-gallery__title - переопределенный */
.woocommerce-loop-product__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Montserra", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;
}

.catalog-gallery__description {
    width: 100%;
    height: 71px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}

@media (max-width: 550px){
    .catalog-gallery__description {
        font-size: 12px;
    }
}

@media (min-width: 320px) and (max-width: 420px){
    .catalog-gallery__description {
        font-size: 10px;
    }
}


/* Высота блока свойств товара, чтобы скрывать через overflow hidden */
.catalog-gallery__description td {
    height: 15px;
}

/* Свойства товара */
.prop {
    overflow: hidden;
    white-space:nowrap;
    padding-right: 3%;
}

/* Значение свойства товара */
.prop_value {
    text-align: right;
}




.catalog-gallery__price {
    margin: 0;
    padding-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.added_to_cart{
    display:block;
    color: white;
}
.catalog-gallery__btn {
    display: block;
    /* width: 268px; */
    width: 100%;
    height: 45px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
}
a:hover{
    color: #e8e8e8;
}
.catalog-gallery__btn:focus,
.catalog-gallery__btn:hover {
    background: #BB9930;
}
.cart-all-in-all__order-btn:focus{
    border: none!important;
    outline: none;
}
#menu-main-menu a:hover{
    text-decoration: underline;
    color: black;
}
.price{
    /* display: flex;
    flex-direction: row-reverse;
    float: left;
    padding: 10px; */
}
.price ins{

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* Текст */

    color: #181717;
    margin-right: 10px;
    text-decoration: none;
}
.price del{
    margin-top: 6px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-decoration-line: line-through;

    /* Основной/4 */

    color: #8F8B8A;
}
.cart-page-text__title a{
    text-decoration: none;
    color: black;
}
.cart-page-text__title a:hover{
    color: black!important;
}
.catalog-gallery__btn:active {
    border: 1px solid #BB9930;
    color: #BB9930;
    background-color: transparent;
}

/* Pagination Пагинация */
.catalog-gallery__paginator {
    display: flex;
}

.catalog-gallery__paginator-list {
    display: flex;
}

.catalog-gallery__paginator-link {
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #181717;
}

.catalog-gallery__paginator-link:hover {
    background: #E3E3E3;
    border-radius: 2px
}

.catalog-gallery__paginator-link--active {
    color: #FFFFFF;
    background: #BB9930;
    border-radius: 2px;
}


.catalog-gallery__next-page-btn {
    display: block;
    align-self: center;
    width: 50px;
    height: 17px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
    border: none;
    background-color: transparent;
    position: relative;
}

.catalog-gallery__next-page-btn::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon__catalog-gallery--next-page.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: -2px;
}

.display-none {
    display: none;
}








/* -------------------------------------------------------------------------------------------- */

/*-------------------------------Single Product Верстка ВАНИ-------------------------------------*/
.tabs.wc-tabs li {
    border: 1px solid #BB9930;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background: #ffffff;
    color: #BB9930;
}
.tabs.wc-tabs li:hover {
    background: #BB9930;
    color: #ffffff; }

.single-product .single_product_gallery {
    margin-right: 5%;
}

/* Single product - товар выравниваем по центру */

.woocommerce-product-gallery__image {
    position: relative;
    width: 100%;
}


/* .flex-active-slide .wp-post-image img{
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
}   */


/* short description */
.single-product .short_description {
    padding-top: 5%;
}
.single-product .short_description .single-properties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* short description */
.single-product .short_description .single-properties span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
/* ТОЧКИ */
.single-properties div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #E3E3E3;
    position: relative;
    top: 15px;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}


/*Доступен под заказ Не натянул*/
.single-product .short_description .single-info {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #8F8B8A;
}

/* Цена */
.short_description span.woocommerce-Price-amount  {
    margin-top: 50px;
    font-family: 'MonSB';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

}
.single-product .short_description .block-single-cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}
/* Кнопка В корзину Single-product */
.single_add_to_cart_button {
    margin-right: 20px;
    width: 180px;
    height: 50px;
    font-family: 'MonSB';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background: #4D4B4A;
    border-radius: 5px;
    color: #ffffff;
}
.single-product .short_description .block-single-cart .single-calc {
    padding: 5px;

}
.single-product .short_description .single-text {
    margin-top: 20px;
    color: #8F8B8A;
}
@media (max-width: 1024px) {
    .single-product .short_description {
        font-size: 14px;
    }
}
@media (max-width: 820px) {
    .single-product .short_description {
        font-size: 12px;
        width: 100%;
    }
}
@media (max-width: 770px) {
    .single-product .short_description {
        width: 100%;
    }
}

.desctiption {
    margin-top: 80px;
    margin-bottom: 20px;
}

.desctiption .single-description-title {
    font-family: 'MonSB';
    font-size: 20px;
}




/*-----------------------knives on order НОЖИ ПОД ЗАКАЗ---------------------------*/

.knives-on-order__title {
    margin-top: 31px;
    margin-bottom: 50px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.knives-on-order p {
    width: 680px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #181717;
}

.knives-on-order__paragraph-first,
.knives-on-order__paragraph-second {
    margin: 0;
    padding-bottom: 30px;
}

.knives-on-order__paragraph-third {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 60px;
}






/* ----------------------   404   --------------------------------------- */
.alert {
    display: flex;
    justify-content: space-evenly;
}

.alert__img {
    display: block;
}

.alert__text {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert__title {
    width: 410px;
    margin: 0;
    padding-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #181717;

}

.alert__paragraph {
    margin: 0;
    padding-bottom: 30px;
    font-family: "Montserra", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #181717;
}

.alert__comeback-btn {
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #FFFFFF;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.alert__comeback-btn:hover,
.alert__comeback-btn:focus{
    background: #BB9930;
}

.alert__comeback-btn:active {
    border: 1px solid #BB9930;
    background: white;
    color: #BB9930;
}

/*-------------------------------------медиа---------------------------------------------*/

@media (max-width: 680px) {

    .alert {
        flex-direction: column;
        align-items: center;
    }

    .alert__title {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 24px;
    }

    .alert__paragraph {
        width: 328px;
        padding-bottom: 30px;
    }

    .alert__comeback-btn {
        margin-bottom: 60px;
    }
}

/* ФОРМА CHECKOUT */
.thwcfd-field-wrapper {
    /* display: block !important; */
    display: inline-block;
}

.woocommerce-billing-fields__field-wrapper .form-row, .woocommerce-additional-fields__field-wrapper .thwcfd-field-textarea {
    display: block;
}

.woocommerce-privacy-policy-text {
    text-align: center;
}

.woocommerce-billing-fields__field-wrapper .form-row {
    margin-left: 0;
    margin-right: 0;
}

/* #customer_details {
  margin-left: 0;
} */

.thwcfd-field-wrapper input {
    height: 50px;
    width: 100%;
}

.woocommerce-billing-fields span {
    color: red;
}


/*---------------------------- КАРУСЕЛЬ ----------------------------*/
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #061539;
}
.main-slider-section {
    width: 90%;
    height: 300px;
}
.main-slider {
    display: flex;
    width: 100%;
    height: 100%;
}
.main-slider .swiper-wrapper .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #fff;
}

.block-slider {
    width: 100%;
    height: 100%;
}
.block-slider .swiper-slide {
    background: #4F628E;
}
.next-btn,
.prev-btn {
    width: 26px;
    height: 20px;
    margin-top: -10px;
}



/*---------------------------- CART (КОРЗИНА)----------------------------------*/
/*-----------------------------------------------------------------------------планшетные и десктопные стили-------------------------------------------------*/

.cart-page__mobile-version {
    display: none;
}

.cart-page__containers {
    padding-left: 30px;
    padding-right: 30px;
}

.cart-page__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.cart-page-sorting-bloc__items1 {
    width: 10%;
}

.cart-page-sorting-bloc__items2 {
    width: 20%;
}

.cart-page-sorting-bloc__items3 {
    width: 15%;
}

.cart-page-sorting-bloc__items4 {
    width: 10%;
}

.cart-page-sorting-bloc__items5 {
    width: 2%;
}

.cart-page-page__title {
    padding-left: 42px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.cart-page-sorting-bloc {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.a1 .compare_button{
    position: relative;
    right: 0;
    float: right;
}


.product-remove__hint {
    width: 190px;
    height: 28px;
    margin: 0;
    background: #8F8B8A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    position: absolute;
    bottom: -40px;
    left: -98px;
}

.product-remove__btn:hover + .product-remove__hint {
    display: block;
}

.product-remove {
    position: relative;
}

.product-remove__btn {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 60px;
    border: none;
    background-color: transparent;
}

.product-remove__btn::before,
.product-remove__btn::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #4D4B4A;
    position: relative;
}

.product-remove__btn::before {
    transform: rotate(45deg);
    position: absolute;
}

.product-remove__btn::after {
    transform: rotate(-45deg);
    position: absolute;
}

.cart-page-price__sale {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF0100;
}

.cart-page-price__paragraph {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.cart-page-price {
    text-align: center;
}

.cart-page-text__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.cart-page__product--available-order {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8F8B8A;
    position: relative;
}

.cart-page-control-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-page-control__btn--plus {
    background-image: url("../img/icons__cart-product--plus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.cart-page-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.cart-page-control__quantity-product {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.cart-page-control__btn--minus {
    background-image: url("../img/icons__cart-product--minus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.cart-page-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

/*---------------------------------------------------------------------конец планшетной версии----------------------------------------------------------------*/
/*-----------------------------------------------------------------------оформить заказ---------------------------------------------------------------------------  */
.cart-all-in-all {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart-all-in-all__total,
.cart-all-in-all__total-price {
    margin: 0;
}

.cart-all-in-all__total {
    padding-top: 10px;
    padding-bottom: 6px;
}

.cart-all-in-all__total-price {
    padding-bottom: 20px;
}

.cart-all-in-all__total {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}


.cart-all-in-all__total-price {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #181717;
}
.woocommerce-billing-fields h3{
    display:none;
}
.tag_slider{
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 61px;
    font-weight: 600;
    height: 28px;
    left: 0px;
    top: 0px;

    pointer-events: none;
    cursor: default;
    text-decoration: none;
    font-size: 12px;
    color: white;
    border: none;
    padding-left: 10px;

}
.onsale{
    display:none;
}
.compare{
    background-image: url(../img/compare.png)!important;
}

.compare_button {
    cursor: pointer;
    z-index:1;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon__compare.png);
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    right: 5%;
    top: 10px;
}
.tag_slider::after {
  content: '';
  position: absolute;
  right: 0;
  border: 14px solid transparent;
  border-right: 9px solid #fff;
  border-bottom: 22px solid #fff;
}
.Orange{
    background: #BB9930;
}
.Blue{
    background: #0077FE;
}
.Red{
    background: #FF0100;
}
.cart-all-in-all__order-btn {
    margin-top: 50px;
    margin-bottom: 200px;
    display: block;
    width: 280px;
    height: 50px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.cart-all-in-all {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*--------------------------------------------------------------------------конец оформить заказ--------------------------------------------------*/

/* --------------------------------------------------------------------------------MAX-WIDTH 680 PX------------------------------------------------------------------- */

@media (max-width: 680px) {

    .responsive-version__wrapper {
        display: none;
    }

    .cart-page__mobile-version {
        display: block;
    }

    .sorting-bloc {
        display: none;
    }

    .cart-page__mobile-containers {
        width: auto;
        display: flex;
        flex-direction: column;

    }


    .cart-page__item {
        display: flex;
        position: relative;
        width: 274px;
        padding-left: 16px;
        padding-right: 16px;
        align-items: flex-start;

    }

    .cart-page-text__title {
        width: 300px;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .cart-page-text {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 34px;
        padding-right: 0;
    }

    .cart-page-text__title {
        width: 205px;
        padding-bottom: 10px;
    }

    .cart-page__product--available-order {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #8F8B8A;
        position: relative;
    }

    .cart-page__product--available-order::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 115px;
        background-image: url("../img/icons__available-order--question.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .cart-page__product--sale {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FF0100;
    }

    .cart-page-control-wrapper {
        width: 106px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        margin: 0;
        margin-left: 15px;
        margin-top: -22px;
    }

    .cart-page-control__btn {
        display: block;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
    }

    .cart-page-control__btn--plus {
        background-image: url("../img/icons__cart-product--plus.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .cart-page-control__btn--minus {
        background-image: url("../img/icons__cart-product--minus.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .cart-page-control__quantity-product {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .cart-page-price {
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }


    .cart-page-price__paragraph {
        margin: 0;
        margin-bottom: 20px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }


    .cart-page-price__sale {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FF0100;
    }

    .product-remove__btn {
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
        border: none;
        background-color: transparent;
    }

    .product-remove__btn::before,
    .product-remove__btn::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: #4D4B4A;
        position: relative;
    }

    .product-remove__btn::before {
        transform: rotate(45deg);
        position: absolute;
    }

    .product-remove__btn::after {
        transform: rotate(-45deg);
        position: absolute;
    }


    .product-remove {
        margin: 0;
        position: absolute;
        top: 14px;
        right: 0;
    }

    .product-remove__btn {
        margin: 0;
        margin-right: -10px;
    }

    .product-remove__btn::before,
    .product-remove__btn::after {
        background: #FF0100;
    }

    .product-remove__btn:hover + .product-remove__hint {
        left: -155px;
    }

    .product-remove__hint {
        width: 190px;
        height: 28px;
        margin: 0;
        background: #8F8B8A;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        line-height: 28px;
        position: absolute;
        bottom: -40px;
        left: -98px;
    }

    .product-remove__btn:hover + .product-remove__hint {
        display: block;
    }
}

.cart-all-in-all {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart-all-in-all__total,
.cart-all-in-all__total-price {
    margin: 0;
}

.cart-all-in-all__total {
    padding-top: 10px;
    padding-bottom: 6px;
}

.cart-all-in-all__total-price {
    padding-bottom: 20px;
}

.cart-all-in-all__total {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}


.cart-all-in-all__total-price {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #181717;
}

.cart-all-in-all__order-btn {
    display: block;
    width: 280px;
    height: 50px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.cart-all-in-all {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart-all-in-all__order-btn:focus,
.cart-all-in-all__order-btn:hover {
    background: #BB9930;
    border: 1px solid #BB9930;
}

.cart-all-in-all__order-btn:active {
    color: #BB9930;
    border: 1px solid #BB9930;
    background-color: transparent;
}

.display-none {
    display: none;
}


/*------------------------------------------------------------------form feedback-----------------------------------------------------------*/

.feedback-form__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(77, 75, 74, 0.6); */
}

#billing_first_name_field {
    display: inline-block;
    width: 49%;
    margin-right: 2%;
}

#billing_phone_field {
    display: inline-block;
    width: 49%;
}
div.wpforms-container-full{
    width: 50%;
    margin-left: 0;
}
.feedback-form {
    width: 100%;
    align-items: flex-end;
    background-image: url('../img/knife.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 100%;
    position: relative;
    top: 15%;
}

.feedback-form__btn-close {
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    position: absolute;
    top: -30px;
    right: 5px;
}

.feedback-form__btn-close::before,
.feedback-form__btn-close::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #FBFBFB;;
}

.feedback-form__btn-close::before {
    transform: rotate(45deg);
    position: absolute;
}

.feedback-form__btn-close:after {
    transform: rotate(-45deg);
    position: absolute;
}

.feedback-form__title {
    width: 438px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #181717;
    position: absolute;
    top: 0;
}

.feedback-form label {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;
}

.feedback-form__name-wrapper,
.feedback-form__phone-wrapper,
.feedback-form__email-wrapper,
.feedback-form__comment-wrapper {
    display: flex;
    flex-direction: column;
}

.feedback-form__name-wrapper,
.feedback-form__phone-wrapper {
    margin-bottom: -80px;
}

.feedback-form__name-wrapper {
    margin-right: 20px;
}

.feedback-form__email-wrapper {
    margin-bottom: -80px;
}

.feedback-form__comment-wrapper {
    margin-bottom: -75px;
}

.feedback-form__name-label,
.feedback-form__phone-label,
.feedback-form__email-label,
.feedback-form__comment-label {
    padding-bottom: 6px;
    border: none;
    position: relative;
}

.feedback-form__name-label::after,
.feedback-form__phone-label::after,
.feedback-form__email-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 40px;
    background-image: url("../img/icon__star-red.png");
    background-position: center;
    background-repeat: no-repeat;

}

.feedback-form__phone-label::after {
    left: 77px;
}

.feedback-form__email-label::after {
    left: 53px;
}

.feedback-form__name-input,
.feedback-form__phone-input {
    width: 209px;
    height: 50px;
    border: 1px solid #E3E3E3;
}

.feedback-form__email-input::placeholder,
.feedback-form__phone-input::placeholder {
    padding-left: 19px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.feedback-form__email-input {
    width: 440px;
    height: 50px;
    border: 1px solid #E3E3E3;
}

.feedback-form__comment-input {
    width: 440px;
    height: 101px;
    border: 1px solid #E3E3E3;
}


.feedback-form input:focus,
.feedback-form input:hover,
.feedback-form textarea:focus,
.feedback-form textarea:hover {
    border: 1px solid #BB9930;
    border-radius: 2px;
}

.feedback-form__submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
}

#place_order{
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #4D4B4A;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

#place_order:hover,
#place_order:focus {
    background: #BB9930;
}

#place_order:active {
    border: 1px solid #BB9930;
    background: white;
    color: #BB9930;
}

.woocommerce-billing-fields h3 {
    text-align: center;
}

.feedback-form__agreement {
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #181717;

}

.feedback-form__agreement a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7A631F;
}

.feedback-form__img-back {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.display-none {
    display: none;
}


.feedback-form__wrapper-background--black-opacity {
    width: 1438px;
    height: 1024px;
    left: 0px;
    top: 0;
    background: #4D4B4A;
    opacity: 0.6;
    position: absolute;
}

/*--------------------------------------------form feedback  680px------------------------------------------------------*/

@media (max-width: 680px) {

    .feedback-form{
        width: 360px;
        /*height: 730px;*/
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }

    .feedback-form__title{
        width: 360px;
        margin-bottom: 30px;
        text-align: center;
    }
    .feedback-form__name-wrapper {
        margin-right: 0;
    }
    .feedback-form__name-wrapper,
    .feedback-form__phone-wrapper,
    .feedback-form__email-wrapper,
    .feedback-form__comment-wrapper{
        margin-bottom: 20px;
    }

    .feedback-form__name-input,
    .feedback-form__phone-input,
    .feedback-form__email-input,
    .feedback-form__comment-input{
        width: 328px;
    }

    .feedback-form__submit{
        width: 328px;
    }

}

@media (max-width: 680px) {
    .cart-all-in-all .desctop {
        display: none;
    }
}



/*-------------------------------    COMPARE   ------------------------------------- */
span.compare_label {
  font-weight: bold;
  margin-bottom: 25px;
}

.compare_items a {
  color: black;
}

.compare_items p {
  margin-top: 10px;
}

.compara .catalog-gallery__btn {
  margin-bottom: 20px;
}

.compara .swiper-slide .close {
    position: absolute;
  z-index: 999999999999999;
  right: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px;
}


/* ---------------------------------FIXED ------------------------------------------------ */
.novinki .swiper-slide  {
    border: 1px solid #EFEFEF;
}

.novinki .catalog-gallery__item {
    border: none;
}
.hits .swiper-slide{
    border: 1px solid #EFEFEF;
}
.hits .catalog-gallery__item{
    border: none;
}
.action .swiper-slide  {
    border: 1px solid #EFEFEF;
}

.action .catalog-gallery__item {
    border: none;
}
.related .swiper-slide  {
    border: 1px solid #EFEFEF;
}
.related .catalog-gallery__item {
    border: none;
}
.related {
    display: flex;
}

.single_watch .swiper-slide  {
    border: 1px solid #EFEFEF;
}
.single_watch .catalog-gallery__item {
    border: none;
}

.cart_icon {
    padding: 0px 5px 2px 0px;
    max-height:20px!important;
}

.compare_button_single {
    cursor: pointer;
    z-index:1;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../img/icon__compare.png);
    background-position: center;
    background-repeat: repeat;
    right: 5%;
    top: 10px;
}






