/* --------------------Глобально скидываю стили------------------------------------------ */
body {
    position: relative;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    padding: 0;
}


/*-----------------------------------------------------------------------------планшетные и десктопные стили-------------------------------------------------*/

.cart-page__mobile-version {
    display: none;
}

.cart-page__containers {
    padding-left: 30px;
    padding-right: 30px;
}

.cart-page__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.cart-page-sorting-bloc__items1 {
    width: 10%;
}

.cart-page-sorting-bloc__items2 {
    width: 20%;
}

.cart-page-sorting-bloc__items3 {
    width: 15%;
}

.cart-page-sorting-bloc__items4 {
    width: 10%;
}

.cart-page-sorting-bloc__items5 {
    width: 2%;
}

.cart-page-page__title {
    padding-left: 42px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #181717;
}

.cart-page-sorting-bloc {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}





.product-remove__hint {
    width: 190px;
    height: 28px;
    margin: 0;
    background: #8F8B8A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    line-height: 28px;
    position: absolute;
    bottom: -40px;
    left: -98px;
}

.product-remove__btn:hover + .product-remove__hint {
    display: block;
}

.product-remove {
    position: relative;
}

.product-remove__btn {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 60px;
    border: none;
    background-color: transparent;
}

.product-remove__btn::before,
.product-remove__btn::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #4D4B4A;
    position: relative;
}

.product-remove__btn::before {
    transform: rotate(45deg);
    position: absolute;
}

.product-remove__btn::after {
    transform: rotate(-45deg);
    position: absolute;
}

.cart-page-price__sale {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF0100;
}

.cart-page-price__paragraph {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.cart-page-price {
    text-align: center;
}

.cart-page-text__title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.cart-page__product--available-order {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #8F8B8A;
    position: relative;
}

.cart-page-control-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart-page-control__btn--plus {
    background-image: url("../img/icons__cart-product--plus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.cart-page-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

.cart-page-control__quantity-product {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181717;
}

.cart-page-control__btn--minus {
    background-image: url("../img/icons__cart-product--minus.png");
    background-position: center;
    background-repeat: no-repeat;
}

.cart-page-control__btn {
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

/*---------------------------------------------------------------------конец планшетной версии----------------------------------------------------------------*/
/*-----------------------------------------------------------------------оформить заказ---------------------------------------------------------------------------  */
.cart-all-in-all {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart-all-in-all__total,
.cart-all-in-all__total-price {
    margin: 0;
}

.cart-all-in-all__total {
    padding-top: 10px;
    padding-bottom: 6px;
}

.cart-all-in-all__total-price {
    padding-bottom: 20px;
}

.cart-all-in-all__total {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}


.cart-all-in-all__total-price {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #181717;
}

.cart-all-in-all__order-btn {
    display: block;
    width: 280px;
    height: 50px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.cart-all-in-all {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*--------------------------------------------------------------------------конец оформить заказ--------------------------------------------------*/

/* --------------------------------------------------------------------------------MAX-WIDTH 680 PX------------------------------------------------------------------- */

@media (max-width: 680px) {

    .responsive-version__wrapper {
        display: none;
    }

    .cart-page__mobile-version {
        display: block;
    }

    .sorting-bloc {
        display: none;
    }

    .cart-page__mobile-containers {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .cart-page__item {
        display: flex;
        position: relative;
        width: 274px;
        padding-left: 16px;
        padding-right: 16px;
        align-items: flex-start;

    }

    .cart-page-text__title {
        width: 300px;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .cart-page-text {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 34px;
        padding-right: 0;
    }

    .cart-page-text__title {
        width: 205px;
        padding-bottom: 10px;
    }

    .cart-page__product--available-order {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #8F8B8A;
        position: relative;
    }

    .cart-page__product--available-order::after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        left: 115px;
        background-image: url("../img/icons__available-order--question.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .cart-page__product--sale {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FF0100;
    }

    .cart-page-control-wrapper {
        width: 106px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        margin: 0;
        margin-left: 15px;
        margin-top: -22px;
    }

    .cart-page-control__btn {
        display: block;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
    }

    .cart-page-control__btn--plus {
        background-image: url("../img/icons__cart-product--plus.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .cart-page-control__btn--minus {
        background-image: url("../img/icons__cart-product--minus.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .cart-page-control__quantity-product {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }

    .cart-page-price {
        margin: 0;
        padding: 0;
        margin-left: 15px;
    }


    .cart-page-price__paragraph {
        margin: 0;
        margin-bottom: 20px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #181717;
    }


    .cart-page-price__sale {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FF0100;
    }

    .product-remove__btn {
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 60px;
        border: none;
        background-color: transparent;
    }

    .product-remove__btn::before,
    .product-remove__btn::after {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background-color: #4D4B4A;
        position: relative;
    }

    .product-remove__btn::before {
        transform: rotate(45deg);
        position: absolute;
    }

    .product-remove__btn::after {
        transform: rotate(-45deg);
        position: absolute;
    }


    .product-remove {
        margin: 0;
        position: absolute;
        top: 14px;
        right: 0;
    }

    .product-remove__btn {
        margin: 0;
        margin-right: -10px;
    }

    .product-remove__btn::before,
    .product-remove__btn::after {
        background: #FF0100;
    }

    .product-remove__btn:hover + .product-remove__hint {
        left: -155px;
    }

    .product-remove__hint {
        width: 190px;
        height: 28px;
        margin: 0;
        background: #8F8B8A;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        line-height: 28px;
        position: absolute;
        bottom: -40px;
        left: -98px;
    }

    .product-remove__btn:hover + .product-remove__hint {
        display: block;
    }
}

.cart-all-in-all {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart-all-in-all__total,
.cart-all-in-all__total-price {
    margin: 0;
}

.cart-all-in-all__total {
    padding-top: 10px;
    padding-bottom: 6px;
}

.cart-all-in-all__total-price {
    padding-bottom: 20px;
}

.cart-all-in-all__total {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181717;
}


.cart-all-in-all__total-price {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #181717;
}

.cart-all-in-all__order-btn {
    display: block;
    width: 280px;
    height: 50px;
    background: #4D4B4A;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.cart-all-in-all {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.cart-all-in-all__order-btn:focus,
.cart-all-in-all__order-btn:hover {
    background: #BB9930;
    border: 1px solid #BB9930;
}

.cart-all-in-all__order-btn:active {
    color: #BB9930;
    border: 1px solid #BB9930;
    background-color: transparent;
}

.display-none {
    display: none;
}


/*------------------------------------------------------------------form feedback-----------------------------------------------------------*/

.feedback-form__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(77, 75, 74, 0.6); */
}

.feedback-form {
    width: 500px;
    height: 563px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    background-color: #FBFBFB;
    position: relative;
    left: 30%;
    top: 15%;
}

.feedback-form__btn-close {
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    position: absolute;
    top: -30px;
    right: 5px;
}

.feedback-form__btn-close::before,
.feedback-form__btn-close::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #FBFBFB;;
}

.feedback-form__btn-close::before {
    transform: rotate(45deg);
    position: absolute;
}

.feedback-form__btn-close:after {
    transform: rotate(-45deg);
    position: absolute;
}

.feedback-form__title {
    width: 438px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #181717;
    position: absolute;
    top: 0;
}

.feedback-form label {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #181717;
}

.feedback-form__name-wrapper,
.feedback-form__phone-wrapper,
.feedback-form__email-wrapper,
.feedback-form__comment-wrapper {
    display: flex;
    flex-direction: column;
}

.feedback-form__name-wrapper,
.feedback-form__phone-wrapper {
    margin-bottom: -80px;
}

.feedback-form__name-wrapper {
    margin-right: 20px;
}

.feedback-form__email-wrapper {
    margin-bottom: -80px;
}

.feedback-form__comment-wrapper {
    margin-bottom: -75px;
}

.feedback-form__name-label,
.feedback-form__phone-label,
.feedback-form__email-label,
.feedback-form__comment-label {
    padding-bottom: 6px;
    border: none;
    position: relative;
}

.feedback-form__name-label::after,
.feedback-form__phone-label::after,
.feedback-form__email-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 40px;
    background-image: url("../img/icon__star-red.png");
    background-position: center;
    background-repeat: no-repeat;

}

.feedback-form__phone-label::after {
    left: 77px;
}

.feedback-form__email-label::after {
    left: 53px;
}

.feedback-form__name-input,
.feedback-form__phone-input {
    width: 209px;
    height: 50px;
    border: 1px solid #E3E3E3;
}

.feedback-form__email-input::placeholder,
.feedback-form__phone-input::placeholder {
    padding-left: 19px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8B8A;
}

.feedback-form__email-input {
    width: 440px;
    height: 50px;
    border: 1px solid #E3E3E3;
}

.feedback-form__comment-input {
    width: 440px;
    height: 101px;
    border: 1px solid #E3E3E3;
}


.feedback-form input:focus,
.feedback-form input:hover,
.feedback-form textarea:focus,
.feedback-form textarea:hover {
    border: 1px solid #BB9930;
    border-radius: 2px;
}

.feedback-form__submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
}

.feedback-form__submit {
    display: block;
    width: 440px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #4D4B4A;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.feedback-form__submit:hover,
.feedback-form__submit:focus {
    background: #BB9930;
}

.feedback-form__submit:active {
    border: 1px solid #BB9930;
    background: white;
    color: #BB9930;
}

.feedback-form__agreement {
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #181717;

}

.feedback-form__agreement a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7A631F;
}

.feedback-form__img-back {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.display-none {
    display: none;
}


.feedback-form__wrapper-background--black-opacity {
    width: 1438px;
    height: 1024px;
    left: 0px;
    top: 0;
    background: #4D4B4A;
    opacity: 0.6;
    position: absolute;
}

/*--------------------------------------------form feedback  680px------------------------------------------------------*/

@media (max-width: 680px) {

    .feedback-form{
        width: 360px;
        height: 730px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }

    .feedback-form__title{
        width: 360px;
        margin-bottom: 30px;
        text-align: center;
    }
    .feedback-form__name-wrapper {
        margin-right: 0;
    }
    .feedback-form__name-wrapper,
    .feedback-form__phone-wrapper,
    .feedback-form__email-wrapper,
    .feedback-form__comment-wrapper{
        margin-bottom: 20px;
    }

    .feedback-form__name-input,
    .feedback-form__phone-input,
    .feedback-form__email-input,
    .feedback-form__comment-input{
        width: 328px;
    }

    .feedback-form__submit{
        width: 328px;
    }

}

@media (max-width: 680px) {
    .cart-all-in-all .desctop {
        display: none;
    }
}